
@{
    ViewData["Title"] = "About Us";
    ViewData["AboutActive"] = "active";
}

<section id="about">
    <div class="container">
        <div class="row col-sm-12">
            <p>
                <span>EGAMEK</span>-In modern world we know that games are essential part of our lives. People are always trying to stay up-to-date about new released, both popular and old games. The term gamer means that a person who plays video games. Even if you are playing Sims or you are a big fan of Call of Duty you are a part of video gaming world. So, as you are the part of this industry you might want to get fresh and pure information about video games such as what is the game about and what are the software requirements of this game. It’s also known situation that some people want to play video game but they are not sure which video game to play. But those type of people might be looking for something but they are not sure about the name of the games. So, for those reasons and concerns I want to introduce my web application called “Egamek” which is game platform. In this platform you will surely find what you are looking for. As a user you can benefit of the software such as get video game news, reviews, descriptions, software requirements and features. Also, you can also find a game based on your interests by answering some questions. The technologies, architecture and tools are widely introduced and explained in details.
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; There are always some stereotypes and wrong facts about video gaming which is that society always think that video games are influencing violence or other crimes. But statistics are saying that most of the people got benefited from video games. Over 835 gamers from all over the world surveyed and 65% say that they made up to 4 friends while gaming, 98% say that media’s thinking way about influencing crimes and violence is not justified. Also, playing video games improves cognitive skills such as the brain uses to think, read and remember. But playing video games have disadvantages and bad impact to our lives such as gaming addiction and wasting a lot of time. But it’s all about putting the limit for playing. Instead of playing you should include some other activities such as sport activity.
            </p>
        </div>
    </div>
</section>

